
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #405143;

}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
  color: #66BFBF;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
  font-family: Montserrat;
  margin: 20px 10px;
  text-decoration: none;
}
a:hover{
  color: white;
}
hr{
  border-top: 5px dotted grey;
  width: 5%;
  margin: 100px auto;
}
.foot-link{
  color: #11999E;
}
.top-container{
  background-color: #E1EBE8;
  position: relative;
  padding-top: 100px;
}
.middle-contaner{
margin: 100px 0;
}
.bottom-container{
 background-color: #66BFBF;
 height: 125px;
 color:#EAF6F6;
 padding-top: 50px;
}
.copyright{
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}
.kristie-picture{
  height: 200px;
  margin-top: 25px;
}
.intro{
  width: 30%;
  margin: auto;
  line-height: 2
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.chillies{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.computer{
width: 25%;
float: right;
margin-left: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.button{
  background-color: #66BFBF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.contact-me{
margin: 50px auto 50px auto}
